{:paths ["src" "resources" "dev"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        integrant/integrant {:mvn/version "0.8.1"}
        metosin/ring-http-response {:mvn/version "0.9.3"}

        ;; with pedestal 
        io.pedestal/pedestal.service {:mvn/version "0.6.0"}
        io.pedestal/pedestal.route {:mvn/version "0.6.0"}
        io.pedestal/pedestal.immutant {:mvn/version "0.6.0"}

        ;; Log for pedestal (not sure?)
        ch.qos.logback/logback-classic {:mvn/version "1.2.10"
                                        :exclusions [org.slf4j/slf4j-api]}
        org.slf4j/jul-to-slf4j {:mvn/version "1.7.35"}
        org.slf4j/jcl-over-slf4j {:mvn/version "1.7.35"}
        org.slf4j/log4j-over-slf4j {:mvn/version "1.7.35"}

        ;; Http client for test 
        clj-http/clj-http {:mvn/version "3.12.3"}

        ;; Database
        org.postgresql/postgresql {:mvn/version "42.6.0"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.883"}
        com.github.seancorfield/honeysql {:mvn/version "2.4.1066"}
        com.zaxxer/HikariCP {:mvn/version "5.0.1"}

        ;; Database migration 
        org.flywaydb/flyway-core {:mvn/version "9.22.0"}

        ;; Format negotiation 
        metosin/muuntaja {:mvn/version "0.6.8"}}

 :aliases
 {:test {:extra-paths ["test" "resources/test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.85.1342"}
                      lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}
                      ;; Database test 
                      org.testcontainers/testcontainers {:mvn/version "1.19.0"}
                      org.testcontainers/postgresql {:mvn/version "1.19.0"}}
         :main-opts ["-m" "kaocha.runner"]}}}
