{:server/run-api-server {:handler #ig/ref :server/create-api-server}
 :server/create-api-server {:datasource #ig/ref :database/connection
                            :port 7575
                            :join? false 
                            :server-type :immutant}
 :database/connection {:dbtype "postgres"
                       :dbname "rwca"
                       :username "rwca"
                       :password "rwca"}}
